<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>104894240644-mtpbknrg9bcblavqcl3gd8tcvg3d3t3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104894240644-mtpbknrg9bcblavqcl3gd8tcvg3d3t3l</string>
	<key>API_KEY</key>
	<string>AIzaSyBxK63w7QBPzSLDuzotr-5bUEWNtCmAeZg</string>
	<key>GCM_SENDER_ID</key>
	<string>104894240644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Cong-Linh.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-ac0dc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-ac0dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104894240644:ios:4a049de40552e659</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-ac0dc.firebaseio.com</string>
</dict>
</plist>